/* Color variables */
:root {
    --primary-color: rgba(101, 172, 255, 1); 
    --primary-color-hover: rgba(141, 195, 255, 1); 
    --button-text-color: white;
    --button-text-color-hover: black;
    --footer-text-color: #5c6d64; 
    --box-background-color: #f1f9fc;
    --input-bg: #f5f5f5; 
    --error: #ff4c4c; 
    --homepage-text-color: #333;
    --clear-chat-button-bg: #05509c;
}

/* Universal styles */
h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--button-text-color-hover);
}

button:focus {
    outline: none;
}

.error {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: var(--error);
    font-weight: 700;
}

.loading {
    color: var(--primary-color);
    text-align: center;
    margin: 10px;
}

input {
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    background-color: var(--input-bg);
}

input:focus {
    outline: none;
    border-color: var(--primary-color-hover);
    transition: all 0.3s ease;
}


/* Header styles */
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 5px 20px;
}

.header-left-side {
    display: flex;
    justify-content: flex-start;
}

.header-middle-side {
    display: flex;
    justify-content: center;
}

.header-right-side {
    display: flex;
    justify-content: flex-end;
}

.header-left-side img {
    width: 15%;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
}


/* Footer styles */
.footer {
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer p {
    font-size: 14px;
    color: var(--footer-text-color);
    display: flex;
    justify-content: center;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
}

.navber-options {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.navber-options hr {
    width: 100%;
    border: 1px solid var(--primary-color);
}

.navbar-option {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
}

/* Home page styles */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
    margin: 30px 50px;
    font-family: 'Arial', sans-serif;
    color: var(--homepage-text-color);
    background-color: var(--box-background-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
}

.platform-features-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
}

.about-project {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
    text-align: center;
    max-width: 800px;
}

.linkedin {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 20px;
}

.linkedin-icon {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login page && signup page styles */
.login, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login p, .signup p{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.login form, .signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background-color: var(--box-background-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Chatbot styles */
.chatbot-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--box-background-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.chatbot-container p {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.chatbot-box {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.chat-message span {
    font-weight: bold;
    margin-right: 8px;
}

.chat-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.chat-send-button:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
}

.chat-clear-button, .chat-send-button {
    padding: 8px 16px;
    margin-top: 0px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--clear-chat-button-bg);
    cursor: pointer;
    font-size: 16px;
}

.chat-clear-button{
    margin-top: 15px;
}

.chat-clear-button:hover, .chat-send-button:hover {
    background-color: white;
    color: var(--button-text-color-hover);
    border: 2px solid var(--clear-chat-button-bg);
    transition: background-color 0.3s ease;
}


/* Chatbot-icon styles */
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.chatbot-icon:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    background-color: white;
    transition: background-color 0.3s ease-in-out;
}

.chatbot-icon svg {
    transition: color 0.3s ease; /* Add transition for color change */
} */


/* Loading styles */
.loading {
    text-align: center;
    margin-top: 20px;
}

.loading-msg {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}

/* 404 page styles */
.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--error);
    border-radius: 10px;
    padding: 30px;
    margin: 0px 120px;
}

.not-found .not-found-icon{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.not-found-icon{
    color: var(--error);
}

.not-found h1{
    color: var(--error);
    font-weight: 700;
}

.not-found p{
    font-weight: 500;
}

/* Profile page styles */
.profile {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.profile-content {
    background: var(--box-background-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}
  
.profile-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.profile-content-blocked {
    background-color: var(--box-background-color);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
.profile-content-blocked h2 {
    font-size: 22px;
    color: var(--error);
}

.uploaded-files {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
.uploaded-files input {
    padding: 15px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-size: 18px;
    transition: all 0.3s;
}
  
.uploaded-files input:focus {
    border-color: var(--primary-color-hover);
    outline: none;
}
  
  
.file-card-container {
    display: flex;
    flex-wrap: wrap; /*make sure the cards wrap to the next line if they don't fit*/
    gap: 30px;
    justify-content: center;
}
  
.file-card {
    background-color: white;
    padding: 20px;
    width: 300px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}
  
.file-card:hover {
    transform: translateY(-5px);
}
  
.file-card h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}
  
.file-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}
/* 
.share-unshare-button { 
    background-color: purple;
}

.delete-file-button {
    background-color: red;
}
   */


  

    